* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    padding: 25px 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    color: #fff;
}

header a {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin: 0 5px;
}

a.help-center {
    border-left: 2px solid #fff;
    padding-left: 7px;
}

a.help-center:hover {
    text-decoration: underline;
}

a.submit {
    font-size: 24px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 8px 22px;
    background-color: #000000;
}

button {
    color: #FFFFFF;
    border: 1px solid #4C5FD5;
    font-size: 24px;
    padding: 8px 32px;
    background-color: #4C5FD5;
    border-radius: 6px;
}

button:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: 500ms background-color;
    cursor: pointer;
}

i.fa-magnifying-glass:hover {
    transform: scale(1.5);
    transition: 300ms transform;
}

header div.menu i {
    display: none;
    font-size: 30px;
    margin-left: 15px;
}


#search-bar {
    background-color: #dadbf1;
    padding: 80px 100px 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.search-bar {
    margin: 0 38px;
}

h1 {
    font-size: 80px;
    font-weight: 400;
    margin: 0 0 16px;
    text-align: center;
}

input.search {
    width: 40em;
    font-size: 20px;
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #000000;
}

input.search:hover {
    border: 1px solid #4C5FD5;
}

div.main {
    padding: 150px;
    display: flex;
    flex-wrap: wrap;
}

div.box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

div.paragraf {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    letter-spacing: 0.5px;
    line-height: 33px;
}

img {
    max-width: 83px;
    margin-right: 20px;
}

h2 {
    font-size: 24px;
    margin: 0 0 16px;
}

p {
    font-size: 24px;
    margin: 0 0 20px;
}

div.box a {
    font-size: 20px;
    margin-bottom: 60px;
    color: #4C5FD5;
}

div.box a:hover {
    text-decoration: underline;
}

footer {
    background-color: #000000;
    padding: 50px 100px 50px 0;
    ;
    display: flex;
    flex-direction: column;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
}

footer ul li {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

footer ul li h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
}

footer ul li a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer div.copyright {
    align-self: flex-end;
}

footer div.copyright p {
    width: 252px;
    color: #fff;
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;

}

footer strong {
    color: #fff;
    margin-top: 24px;
}